bifurcation_tracking/
find_Ma_from_Ra/
param_scan/
stability_analysis/
temporal_solve/
hysteresis
bifurcation_tracking_hysteresis
bifurcation_tracking_down.py
__pycache__
*.pyc
*.msh
*.vtu
*.vtk
*.c
*.so
*.o
*.a
*.d
*.pvd
*.png
*.whl
pyoomph.egg-info/
_pyoomph_run_.txt
